@charset "utf-8";
@import "bulma/sass/utilities/initial-variables";
@import "vars";
@import "bulma/sass/form/shared";

[disabled] {
  cursor: default !important;
}

.select.is-disabled::after {
  opacity: 0.3;
  border-color: $input-hover-color !important;
}

button.button.is-disabled {
  background-color: $input-disabled-background-color;
  border-color: $input-disabled-border-color;
  box-shadow: none;
}

button.button.is-disabled,
label.label.is-disabled {
  opacity: 0.5;
  color: $input-disabled-color;
}

.button.shuffle.is-loading {
  pointer-events: all;
  &::after {
    animation-duration: 360ms;
    border: 2px solid $grey-darker;
    border-right-color: transparent;
    border-top-color: transparent;
  }
}

a.version {
  color: $grey-light;
  &:hover {
    color: $primary;
  }
}

.navbar a {
  transition: background-color 300ms linear;
}

textarea {
  min-height: 6em;
}

.user-select-none {
  user-select: none;
}
